# // If Running docker use this.
# DB_USER=your_db_user
# DB_PASSWORD=your_db_password
# DB_PORT=5432
# DB_HOST=localhost
#
# If Using neon or other use connection string. 
DB_URL=your_connection_string

PORT=3000
JWT_SECRET=01846dc1d61fd5be9812e1249d95cfce970f208d6be65194ea1913554fe61ec8
JWT_ACCESS_EXPIRES_IN='7d'
